@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {

    --whiskey: #FDA501;
    --dark: #111111;
    --white: #f5f5f5;
    --gray: #747474;
  
  }

body {

    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    background-color: #F2F1F0;

}

.whiskey-logo {

    max-width: 70px;
    height: 70px;

}

.whiskey-logo2 {

    max-width: 100px;
    height: 100px;

}

.nav-background {

    background-color: #111111;
    border-bottom: 1px solid #5e5e5e;
    padding: 10px 0 10px 0;

}

.nav-item {
    margin-right: 20px !important;
}

.link-hover {
    color: var(--white) !important;
}
.link-hover:hover {
color: var(--whiskey) !important;
transition: all 0.5s ease;
}
.nav-link.link-hover {
position: relative;
}

.nav-link.link-hover:before, .nav-link.link-hover:after {
position: absolute;
content: "";
width: 0;
height: 2px;
bottom: 0;
background-color: var(--whiskey);
transition: all 0.3s ease-in-out;
}

.nav-link.link-hover:before {
left: 50%;
}

.nav-link.link-hover:after {
right: 50%;
}

.nav-link.link-hover:hover:before, .nav-link.link-hover:hover:after {
width: 50%;
}
.navbar-toggler {

background-color: var(--whiskey);

}
.navbar-toggler:focus {

outline: none !important;

}

/* text */

.header-name {
    transform: uppercase !important;
    color: var(--whiskey); 
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-muted {

    color: #afafaf !important;

}

.header-name-2 {
    transform: uppercase !important;
    color: var(--whiskey); 
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
}

.header-name-3 {
    transform: uppercase !important;
    color: var(--whiskey) !important; 
    /* font-size: 1.2rem; */
    font-family: 'Space Grotesk', sans-serif;
}

.stats {

    font-size: 2rem;

}

.stats-label {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #999999;
    margin-top: -15px;

}

.services-header {

    color: #9F9F9F;

}
.blog-dates {

    color: var(--whiskey);
    text-transform: uppercase;

}
.bebas {

    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 3rem !important;
  
  }
.bebas3 {

    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 1.8rem !important;

}

.text-bold {

    font: 1rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;

}

/* text containers */

.text-container {
    overflow-wrap: break-word;
    word-break: break-word;
    width: 80%;
    padding: 0 10px 0 10px;
}

p, a, button, h1, h2, h3, h4, h5, button {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* buttons */

.whiskey-button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 2px;
    text-transform: uppercase;
    border: 1px solid black;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
    transition-delay: 0.5s;
    font-weight: 500;
}

.whiskey-button:hover {
    color: var(--whiskey);
    background-color: rgb(20, 20, 20);
}

.whiskey-accent {

    background-color: transparent;
    padding: 10px;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    border: 1px solid var(--white);
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
    font-weight: 500;

}

.whiskey-accent:hover {
    color: white;
    background-color: var(--whiskey);
    border: 1px solid var(--whiskey);
}

/* sections */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    position: relative;
}

.main-background {
    background-color: #111111;
}
.hero-container {
    margin-top: 190px;
}
.main-sub {
    position: relative;
    top: 150px;
    padding: 0 40px 0 40px;
}

.image-container {
    background: url('/assets/DSC00022.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    overflow: hidden;
    position: relative;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(0, 0, 0); /* Adjust the opacity as needed */
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.image-content {
    z-index: 2;
    position: relative;
}
.content1 {
    height: 50%;
    width: 100%;
}
.content2 {
    height: 50%;
    width: 100%;
}
.hor-line {
    height: 1px;
    background-color: #111111;
    margin-top: 20px;
    margin-bottom: 20px;
}
.services {

    background-color: #E9E7E6;

}

.blogs {

    background-color: #F2F1F0;

}

.projects {

    background-color: #111111;

}
.img-one {

    background: url('../assets/pic1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    position: relative;

}
.img-two {

    background: url('../assets/project-1.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;

}
.img-three {

    background: url('../assets/DSC00022.JPG');
    background-position: center;
    background-size: cover;
    height: 40vh;
    position: relative;

}

.partners {

    background: url('../assets/section-bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}

.last-section {
    
    background-color: #E9E7E6;
    position: relative;
}


/* play button custom */
.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f4433600;
    border: none;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.377);
}

.play-button:hover .play-icon {

    border-left-color: #000
}

.play-button:hover {
    background-color: #e7e7e7;
}
.play-icon {
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid #fff;
    margin-left: 6px; /* Add this line to center the icon */
}
/* images */

.about-img-container {

    width: 800px;
    height: 700px;
    object-fit: cover;

}

.rev-img {

    /* border-radius: 60%; */
    width: 6rem !important;
  
  }

  .blog-img {

    object-fit: contain;

  }
  .blog-item {

    background-color: #111111;
    color: #E9E7E6;

  }

  .video-background {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
  }
  
  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
  
  .video-background .container {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  .video-background .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
  }

  /* footer */

  .footer {

    background-color: #000;
    border-top: 1px solid #5e5e5e;

  }

  .almost-footer {

    background-color: #000;

  }

  .horizontal-list {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .horizontal-list li {
    margin-right: 20px;
  }

  .horizontal-list li a {

    color: var(--white);
    text-decoration: none;

  }

  .horizontal-list li a:hover {

    color: var(--whiskey);

  }

  .addpadd {

    margin-left: 1rem;

  }

  .quick li{

    list-style: none;

  }

  .quick li a {

    text-decoration: none;
    color: var(--white);

  }
  
  .quick li a:hover {

    text-decoration: none;
    color: var(--whiskey);

  }

  .quick ul {
    padding: 0;
  }

  .container-fluid ul,
.container-fluid ol {
  padding-left: 0;
}

/* cards */

.custom-card {

    background: url('../assets/DSC00023.JPG');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;

}

.custom-card2 {

    background: url('../assets/DSC00023.JPG');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;

}

.custom-card:hover .overlay {
    opacity: 0.3;
  }

.card-body-custom, .card-image {

    position: relative;
    z-index: 2;

}

.card-image {

    background-color: var(--whiskey);
    border-radius: 50%;
    width: 80px;
    height: 80px;

}

.read-more {

    color: var(--white);
    text-decoration: none;

}

.read-more:hover {

    color: var(--whiskey);
    text-decoration: none;

}

/* testimonials */

.review-container {

    border-left: 4px solid white ;
    height: auto;
  
}

.rev-img {

    border-radius: 60%;
    width: 6rem !important;
  
}

.partner-icon {
    max-width: 6rem;
}

.owl-carousel {
  cursor: grab;
}

.item {

    background-color: #111111 !important;

}

.read {

    text-decoration: none;
    color: var(--whiskey);

}

.read:hover {

    color: var(--white);

}

/* Media Queries */

/* Mobile devices */
@media only screen and (max-width: 767px) {
    .text-container {
        overflow-wrap: break-word;
       
        width: 100%;
        padding: 0 0px 0 0px;
      }
  }
  
  /* Tablet devices */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for tablets */
  }
  
  /* Laptop/Desktop devices */
  @media only screen and (min-width: 992px) {
    /* Styles for laptops/desktops */
  }

  .privacy {

    background-color: #111111;
    text-justify: inter-word !important;

  }